.logo-container {
  z-index: 0;
  width: 50%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.svg-container {
  stroke: #ffd700;
  stroke-width: 5;
}
